body {
  font: 1.2em/1.5 sans-serif;
}
.box {
  background-color: aliceblue;
  height: 150px;
  width: 300px;
  padding: 40px;
  margin: 40px;
  border: 2px solid purple;
}
.alternate {
  /* height: 120px;
  width: 250px; */
  box-sizing: border-box;
  width: 380px;
  height: 230px;
  padding: 20px;
}
.dotbox {
  border: 2px dotted black;
  padding: 10px;
  margin-top: 20px;
  margin-right: 1em;
  margin-left: 2em;
  margin-bottom: 40px;
}
.one {
  background-color: pink;
  margin: 10px;
  padding: 1em;
  border: 3px solid black;
  display: inline-block;
}
